<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Playtika{% endblock %}</title>


        <link href="{{ asset('/js/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('/css/custom.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


        <script src="{{ asset('/js/vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('/js/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    </head>
    <body>

        <header>
            <div class="navbar navbar-default">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('homepage') }}">
                        Application to parse pictures from web sites.
                    </a>
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
