{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        {% for image in images %}
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img class="site-img" src="/uploads/{{ site.title }}/{{ image.img }}" alt="...">
                    </a>
                </div>
        {% endfor %}
    </div>

{% endblock %}
