{% extends 'base.html.twig' %}

{% block body %}

    <form class="form-inline container-fluid" action="{{ path('homepage') }}" method="post">
        <div class="form-group {% if form_errors(form.url) %} has-warning {% endif %}">
            <label for="url">
                {{ form_label(form.url) }}
            </label>
            {{ form_widget(form.url) }}
        </div>
        <button type="submit" class="btn btn-default">Parse</button>
        {{ form_row(form._token) }}
        <div style="clear: both">
            {{ form_errors(form.url) }}
        </div>

    </form>


    <p>
        <ul class="list-group">
            {% for site in sites %}
                <li class="list-group-item">
                    <a href="{{ path('images', {id: site.id}) }}">
                        {{ site.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </p>

{% endblock %}
