.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.footer .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.footer .container .text-muted {
    margin: 20px 0;
}

.site-img {
    max-width: 100px;
    max-height: 100px;
}